{% extends 'base.html' %}

{% block head %}

<script src="https://unpkg.com/layout-base/layout-base.js"></script>
<script src="https://unpkg.com/cytoscape@3.28.1/dist/cytoscape.min.js"></script>
<script src="https://unpkg.com/cose-base/cose-base.js"></script>
<script src="{{ url_for('static', filename='cytoscape-cose-bilkent.js') }}"></script>

{% endblock %}

{% block body %}

<div class="container m-5 mx-auto text-center">

    <h1> Graph Visualizer</h1>
    <span><b>Profile</b> {{ context.profile }}</span>
    
    <span>Timestamp {{ context.timestamp }}</span>

    <div class="border">
        <svg width="1024" height="768"></svg>
    </div>
</div>



<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}